<template>
  <require from="./article.css"></require>
  <div class="container">
    <h1>${article.product_name}</h1>
    <div class="grid-row">
      <img class="col-start-1 col-end-2" src.bind="article.image_url">
      <ul class="col-start-2 col-end-12">
        <li>${'articles.brands' & t}: ${article.brands}</li>
        <li>${'articles.labels' & t}: ${article.labels}</li>
        <li>${'articles.ingredients' & t}: ${article.ingredients_text}</li>
        <li>${'articles.categories' & t}: ${article.type_article}</li>
        <button class="btn btn-primary back" click.trigger="backToArticles()">${'articles.back' & t}</button>
      </ul>
    </div>
  </div>
</template>