@import './theme.less';

label {
  display: inline-block;
}

.input {
  margin: 0.5rem 0;
  padding: 0.375rem 0.5rem;
  border: 1px solid @colorset-blue;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  background-color: @colorset-light0;
  width: 100%;
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
    border-color: @colorset-dark0 !important;
  }
  &:hover {
    border-color: @colorset-dark1;
  }
  &-danger {
    border-color: @colorset-error;
  }
}

.form-error {
  padding-inline-start: 0;
  & > li {
    text-align: center;
    list-style: none;
    color: @colorset-error;
  }
}
