@import './theme.less';

.container {
  width: 100%;
  padding: 1rem 2rem;
  & > * {
    padding: 1rem;
  }
}

.category-title {
    width: 100%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, @colorset-light3, @body-background-color);
    border-image-slice: 1;
    padding-bottom: .75rem;
    margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.flex-center-parent {
  margin: auto;
}

.flex-align-center {
  align-self: center;
}