.container {
  width: 100%;
  padding: 1rem 10rem;
  & > * {
    padding: 1rem;
  }
}

.category-title {
    width: 100%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #ddd, white);
    border-image-slice: 1;
    padding-bottom: .75rem;
    margin-bottom: 2rem;
}