<template>
  <require from="./pending-articles.css"></require>
  <div class="container">
    <div class="category-title">
      <compose view-model="../breadcrumb/breadcrumb"></compose>
    </div>
    <div class="row">
      <button class="btn btn-primary">+ Create Category</button>
    </div>
    <span if.bind="!articles">${'articles.loading' & t}</span>
    <span if.bind="articles && articles.length === 0">${'articles.noarticle' & t}</span>
    <table class="table" if.bind="articles && articles.length > 0">
      <thead>
        <tr>
          <th>${'articles.brands' & t}</th>
          <th>${'articles.productName' & t}</th>
          <th>${'articles.labels' & t}</th>
          <th>${'articles.categories' & t}</th>
          <th>${'articles.validate' & t}</th>
          <th>${'articles.reject' & t}</th>
        </tr>
      </thead>
      <tbody>
        <tr repeat.for="article of articles">
          <td>${article.brands || 'n/a'}</td>
          <td>${article.product_name || 'n/a'}</td>
          <td>${article.labels || 'n/a'}</td>
          <td>TBD</td>
          <td><i class="size-2">
              <check></check>
            </i></td>
          <td><i class="size-2">
              <cross></cross>
            </i></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>