@import '../../styles/theme.less';

.my-header {
  width: 100%;
  background-color: @colorset-main;
  min-height: 3rem;
  color: @colorset-light0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 4rem;
}

.logo {
  padding: 15px;
}

.connect-btn, .disconnect-btn {
  color: @colorset-light0;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  height: 100%;
  margin: auto;
}
