<template>
  <require from="./header.css"></require>
  <div class="my-header">
    <img class="logo" src="/images/logo.png" width="100px" height="100px">
    <div class="flex-align-center" if.bind="!connection.isUserLoggedIn">
      <a class="connect-btn" click.trigger="connection.loginUser()">
        ${'header.login' & t}
      </a>
    </div>
    <div class="dropdown flex-align-center" if.bind="connection.isUserLoggedIn">
      <a class="disconnect-btn">
        ${connection.userName}
      </a>
      <div class="dropdown-content">
        <a click.trigger="goToSettings()">${'header.settings' & t}</a>
        <a click.trigger="connection.logoutUser()">${'header.logout' & t}</a>
      </div>
    </div>
  </div>
</template>